alabaster @ file:///home/conda/feedstock_root/build_artifacts/alabaster_1673645646525/work
altair==5.2.0
arrow @ file:///home/conda/feedstock_root/build_artifacts/arrow_1696128962909/work
astroid @ file:///D:/bld/astroid_1697450455226/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1698341106958/work
astunparse @ file:///home/conda/feedstock_root/build_artifacts/astunparse_1610696312422/work
atomicwrites @ file:///home/conda/feedstock_root/build_artifacts/atomicwrites_1657325823582/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1683424013410/work
autopep8 @ file:///home/conda/feedstock_root/build_artifacts/autopep8_1693061251004/work
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1698174530262/work
bcrypt @ file:///D:/bld/bcrypt_1701202316551/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1680888073205/work
binaryornot==0.4.4
biopython==1.81
biotite==0.38.0
black @ file:///D:/bld/black-recipe_1698342820413/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1696630167146/work
blinker==1.7.0
Brotli @ file:///D:/bld/brotli-split_1695989908365/work
cachetools==5.3.2
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1700303426725/work/certifi
cffi @ file:///D:/bld/cffi_1696001739918/work
chardet @ file:///D:/bld/chardet_1695468773258/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
click @ file:///D:/bld/click_1692312014553/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1697464713350/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1691044910542/work
contourpy==1.2.0
cookiecutter @ file:///home/conda/feedstock_root/build_artifacts/cookiecutter_1700591923152/work
cryptography @ file:///D:/bld/cryptography-split_1701145368705/work
cycler==0.12.1
debugpy @ file:///D:/bld/debugpy_1695534507849/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
diff-match-patch @ file:///home/conda/feedstock_root/build_artifacts/diff-match-patch_1683670697993/work
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1690101045195/work
docstring-to-markdown @ file:///home/conda/feedstock_root/build_artifacts/docstring-to-markdown_1697065579403/work
docutils @ file:///D:/bld/docutils_1695300451178/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1700579780973/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1698579936712/work
fasteners==0.19
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1700055509243/work/dist
flake8 @ file:///home/conda/feedstock_root/build_artifacts/flake8_1690833614949/work
Flask==3.0.0
fonttools==4.45.1
gitdb==4.0.11
GitPython==3.1.40
GridDataFormats==1.0.2
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1701026962277/work
imagesize @ file:///home/conda/feedstock_root/build_artifacts/imagesize_1656939531508/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1688754491823/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1699364556997/work
inflection @ file:///home/conda/feedstock_root/build_artifacts/inflection_1598089801258/work
intervaltree @ file:///home/conda/feedstock_root/build_artifacts/intervaltree_1683532206518/work
ipykernel @ file:///D:/bld/ipykernel_1698244157926/work
ipython @ file:///D:/bld/ipython_1701092580049/work
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1694607144474/work
isort @ file:///home/conda/feedstock_root/build_artifacts/isort_1675033873689/work
itsdangerous==2.1.2
jaraco.classes @ file:///home/conda/feedstock_root/build_artifacts/jaraco.classes_1689112411129/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1696326070614/work
jellyfish @ file:///D:/bld/jellyfish_1700261371251/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
joblib==1.3.2
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1700159890288/work
jsonschema-specifications @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-specifications_1700059145511/work
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1699283905679/work
jupyter_core @ file:///D:/bld/jupyter_core_1698673840402/work
jupyterlab-widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1694598704522/work
jupyterlab_pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1700744013163/work
keyring @ file:///D:/bld/keyring_1699923936770/work
kiwisolver==1.4.5
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1686175045316/work
MarkupSafe @ file:///D:/bld/markupsafe_1695367558436/work
matplotlib==3.8.2
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
mccabe @ file:///home/conda/feedstock_root/build_artifacts/mccabe_1643049622439/work
MDAnalysis==2.6.1
mdtraj @ file:///D:/bld/mdtraj_1700152623168/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1639515908913/work
mistune @ file:///home/conda/feedstock_root/build_artifacts/mistune_1698947099619/work
mmtf-python==1.1.3
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1691086935839/work
mrcfile==1.4.3
msgpack==1.0.7
mypy-extensions @ file:///home/conda/feedstock_root/build_artifacts/mypy_extensions_1675543315189/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1684790896106/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/nbconvert-meta_1699285928227/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1690814868471/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1697083700168/work
networkx==3.2.1
nglview @ file:///home/conda/feedstock_root/build_artifacts/nglview_1694740897061/work
numexpr @ file:///D:/bld/numexpr_1697637141124/work
numpy @ file:///D:/bld/numpy_1700874663201/work/dist/numpy-1.26.2-cp39-cp39-win_amd64.whl#sha256=7f969c1153e33a193010a6f19d39efb0de3ac8d7013da0c994e8ecffeeebba1c
numpydoc @ file:///home/conda/feedstock_root/build_artifacts/numpydoc_1665273484262/work
OpenMM==8.1.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1696202382185/work
pandas @ file:///D:/bld/pandas_1699670262598/work
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
paramiko @ file:///home/conda/feedstock_root/build_artifacts/paramiko_1690718676607/work
ParmEd @ file:///D:/bld/parmed_1698253112869/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1690597952537/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1667297516076/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==10.1.0
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1694617248815/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1699715570510/work
plotly==5.18.0
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1693086607691/work
ply==3.11
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1699963054032/work
protobuf==4.25.1
psutil @ file:///D:/bld/psutil_1695367305059/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
py-cpuinfo @ file:///home/conda/feedstock_root/build_artifacts/py-cpuinfo_1666774466606/work
py3Dmol==2.0.4
pyarrow==14.0.1
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1697202867721/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydeck==0.8.1b0
pydocstyle @ file:///home/conda/feedstock_root/build_artifacts/pydocstyle_1673997487070/work
pyflakes @ file:///home/conda/feedstock_root/build_artifacts/pyflakes_1690656279496/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1700607939962/work
pylint @ file:///home/conda/feedstock_root/build_artifacts/pylint_1698005019851/work
pylint-venv @ file:///home/conda/feedstock_root/build_artifacts/pylint-venv_1698219336631/work
pyls-spyder @ file:///home/conda/feedstock_root/build_artifacts/pyls-spyder_1619747398504/work
PyNaCl @ file:///D:/bld/pynacl_1695545054459/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1690737849915/work
PyQt5==5.15.10
PyQt5-sip @ file:///C:/b/abs_c0pi2mimq3/croot/pyqt-split_1698769125270/work/pyqt_sip
PyQtWebEngine==5.15.6
PySocks @ file:///D:/bld/pysocks_1661604991356/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-lsp-black @ file:///home/conda/feedstock_root/build_artifacts/python-lsp-black_1684593945004/work
python-lsp-jsonrpc @ file:///home/conda/feedstock_root/build_artifacts/python-lsp-jsonrpc_1695528365348/work
python-lsp-server @ file:///home/conda/feedstock_root/build_artifacts/python-lsp-server-meta_1699320447037/work
python-slugify @ file:///home/conda/feedstock_root/build_artifacts/python-slugify-split_1694282063120/work
pytoolconfig @ file:///home/conda/feedstock_root/build_artifacts/pytoolconfig_1675124745143/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1693930252784/work
pywin32==306
pywin32-ctypes @ file:///D:/bld/pywin32-ctypes_1695395076921/work
PyYAML @ file:///D:/bld/pyyaml_1695373613960/work
pyzmq @ file:///D:/bld/pyzmq_1698062570260/work
QDarkStyle @ file:///home/conda/feedstock_root/build_artifacts/qdarkstyle_1698278118132/work
qstylizer @ file:///home/conda/feedstock_root/build_artifacts/qstylizer_1662244505808/work/dist/qstylizer-0.2.2-py2.py3-none-any.whl
QtAwesome @ file:///home/conda/feedstock_root/build_artifacts/qtawesome_1678418951316/work
qtconsole @ file:///home/conda/feedstock_root/build_artifacts/qtconsole-base_1700168901209/work
QtPy @ file:///home/conda/feedstock_root/build_artifacts/qtpy_1698112029416/work
referencing @ file:///home/conda/feedstock_root/build_artifacts/referencing_1701294642027/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
rich @ file:///home/conda/feedstock_root/build_artifacts/rich-split_1700160075651/work/dist
rope @ file:///home/conda/feedstock_root/build_artifacts/rope_1699525256910/work
rpds-py @ file:///D:/bld/rpds-py_1700527156975/work
Rtree @ file:///D:/bld/rtree_1697503413302/work
scikit-learn==1.3.2
SciPy @ file:///C:/bld/scipy-split_1700812606071/work/dist/scipy-1.11.4-cp39-cp39-win_amd64.whl#sha256=c2b40a13fb485c8523e104453b5f93bfd1de981f3e72e5c45ef496aa253b58b8
sip @ file:///D:/bld/sip_1697300548918/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smmap==5.0.1
snowballstemmer @ file:///home/conda/feedstock_root/build_artifacts/snowballstemmer_1637143057757/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1621217038088/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1693929250441/work
Sphinx @ file:///home/conda/feedstock_root/build_artifacts/sphinx_1694647393084/work
sphinxcontrib-applehelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-applehelp_1692039578432/work
sphinxcontrib-devhelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-devhelp_1692039587698/work
sphinxcontrib-htmlhelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-htmlhelp_1692039590609/work
sphinxcontrib-jsmath @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-jsmath_1691604704163/work
sphinxcontrib-qthelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-qthelp_1692039556837/work
sphinxcontrib-serializinghtml @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-serializinghtml_1692579968530/work
spyder @ file:///D:/bld/spyder_1700797014056/work
spyder-kernels @ file:///D:/bld/spyder-kernels_1699307841223/work
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
streamlit==1.28.2
streamlit-molstar==0.4.7
tables==3.9.2
tenacity==8.2.3
text-unidecode @ file:///home/conda/feedstock_root/build_artifacts/text-unidecode_1694707102786/work
textdistance @ file:///home/conda/feedstock_root/build_artifacts/textdistance_1663527496115/work
threadpoolctl==3.2.0
three-merge @ file:///home/conda/feedstock_root/build_artifacts/three-merge_1595515817927/work
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/tinycss2_1666100256010/work
toml==0.10.2
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
tomlkit @ file:///home/conda/feedstock_root/build_artifacts/tomlkit_1700046708542/work
toolz==0.12.0
tornado @ file:///D:/bld/tornado_1695373623388/work
tqdm==4.66.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1701095650114/work
types-python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/types-python-dateutil_1689882883784/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1695040754690/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1680081134351/work
tzlocal==5.2
ujson @ file:///D:/bld/ujson_1695472754400/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1699933488691/work
validators==0.22.0
watchdog @ file:///D:/bld/watchdog_1695395451258/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1700607916581/work
webencodings @ file:///home/conda/feedstock_root/build_artifacts/webencodings_1694681268211/work
Werkzeug==3.0.1
whatthepatch @ file:///home/conda/feedstock_root/build_artifacts/whatthepatch_1683396758362/work
widgetsnbextension @ file:///home/conda/feedstock_root/build_artifacts/widgetsnbextension_1694598693908/work
win-inet-pton @ file:///D:/bld/win_inet_pton_1667051142467/work
yapf @ file:///home/conda/feedstock_root/build_artifacts/yapf_1690387939953/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1695255097490/work
